---
import Layout from '../layouts/Layout.astro';
import Project from '../components/project.astro';
import "../style/scss/home.scss";
---

<Layout Page="Home">
	<div id="projects">
		<ul>
			<Project Heading="Meta Menaces" Image="url(/pine-tree.jpg)" Height="44vh" Link="/projects/meta-menaces"/>
			<Project Heading="Other Project" Image="url(/tree2.avif)" Height="20vh" Link="/projects/other-proj"/>
		</ul>	
		<ul>
			<Project Heading="Project" Image="url(/autumn.jpg)" Height="20vh" />
			<Project Heading="Important" Image="url(/pine-tree.jpg)" Height="44vh" />
		</ul>	
		<ul>
			<Project Heading="Project" Image="url(/autumn.jpg)" Height="20vh" />
			<Project Heading="Project" Image="url(/autumn.jpg)" Height="20vh" />
			<Project Heading="Project" Image="url(/autumn.jpg)" Height="20vh" />
		</ul>	
		
	</div>
</Layout>
