---
const {y} = Astro.props;
---

<div class="fader" data-y={y}>
    <slot />    
</div>

<script>
    document.addEventListener("scroll", () => {
        const yPos = window.pageYOffset
        const faders: HTMLCollectionOf<HTMLElement> = document.getElementsByClassName("fader") as HTMLCollectionOf<HTMLElement>;
        
        for(const f of faders){
            const y:any = f.offsetHeight;
            
            const opacity = (Math.pow(-(4*(yPos-y) -4),2)+1).toString();
            console.log(opacity)


            f.style.opacity=opacity;
        }
        
    })
</script>