---
import "../style/scss/TopBar.scss"
const {Page="Page"} = Astro.props;
---

<div id="top-bar">
    <div id="modules">
        <div id="left-module">
            {Page} <a href="/" aria-label="Home Button"><button><i class="fa-solid fa-house"></i></button></a>
        </div>
        <div id="right-module">
            <a href="/" aria-label="Bluesky Button"><button id="bluesky" ><i class="fa-brands fa-bluesky"></i></button></a>
            <a href="projects" aria-label="Linkedin Button"><button id="linkedin"><i class="fa-brands fa-linkedin"></i></button></a>
            <a href="about-me" aria-label="Instagram Button"><button id="instagram"><i class="fa-brands fa-instagram"></i></button></a>
            <a href="about-me" aria-label="Tumblr Button"><button id="tumblr"><i class="fa-brands fa-square-tumblr"></i></button></a>
        </div>
    </div>
</div>