---
import Layout from '../../layouts/Layout.astro';
import "../../style/scss/project-page.scss"
import OSLink from "../../components/OsLink.astro"
import Video from '../../components/video.astro';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout Page="Meta Menaces">
    <div id="video">
        <Video />

        <h2>Brief</h2>
        <p>
            To create a First Person game set in 1466 in the <a href="https://themetamenaces.io/">Meta Menaces</a> novel universe
        </p>

        <h2>Role</h2>
        <p>
            For this project, I was project lead, lead programmer and lead modeller. I wrote all of the 
            <a href="https://github.com/AmyCur/MM_Proj">code for this project</a> and made the majority of the models.
        </p>

        <div id="buttons">
            <a href="/#projects">
                <div id="back">
                    <i class="fa-solid fa-arrow-left"></i>
                    <button>Back</button>
                </div>
            </a>

            <OSLink
                windows="https://github.com/AmyCur/MM_Proj/releases/download/v1.0.0/MetaMenaces_Windows.zip"
                mac="https://github.com/AmyCur/MM_Proj/releases/download/v1.0.0/MetaMenaces_Mac.zip"
                linux="https://github.com/AmyCur/MM_Proj/releases/download/v1.0.0/MetaMenaces_Linux.zip"
                text="<button>Download game</button>">
            </OSLink>
            

        </div>
        <p style="margin-top: 4vh; color: #787878">If the download button doesnt work, you can view the releases <a href="https://github.com/AmyCur/MM_Proj/releases/">here</a></p>

        
              
    </div>
</Layout>