---
import Layout from '../../layouts/Layout.astro';
import "../../style/scss/project-page.scss"

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout Page="Other Project">
    <div id="video">
        <iframe width="720" height="405" title="Video of my Meta Menaces Project" src="https://www.youtube.com/embed/ob3VwY4JyzE" />
        
        <h2>Brief</h2>
        <p>
            XX XXXX XX XX X XXX X XXXXXXXXX X XXXXX XX XX X 
        </p>

        <h2>Role</h2>
        <p>
            XX XXXX XX XX X XXX X XXXXXXXXX X XXXXX XX XX X  XX XXXX XX XX X XXX X XXXXXXXXX X XXXXX XX XX X XX XXXX XX XX X XXX X XXXXXXXXX X XXXXX XX XX X 
        </p>

        <a href="/" id="download">
            <button>Download game</button>
        </a>        
    </div>
</Layout>