---
import TopBar from "../components/TopBar.astro";
const {Page="Page"} = Astro.props;

---

<html lang="en">
	<script src="https://kit.fontawesome.com/e4b9b41e06.js" crossorigin="anonymous"></script>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="https://AmyCur.github.io/favicon.svg" />
		<title>{Page}</title>
	</head>
	<body style="display: flex; flex-direction: column;">
		<TopBar Page={Page}/>
		<slot />
	</body>
</html>

<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');

	*{
		color: #f2f2d1;
		font-family: "TikTok Sans", sans-serif;
		text-decoration: none;
	}

	html{
		background-color: #232c37;
	}

	li{
		display: flex;
	}

	a{
		text-decoration: none;
	}

	iframe{
		border: none;
		border-radius: .7vw;
	}

	body{
		width: 100%;
		height: 100%;
		margin: 0px;
	}
</style>
