#projects{
    display: flex;
    justify-content: center;
    align-items: start;

    ul{
        display: flex;
        flex-direction: column;
        
        *{
            margin-bottom: 2vh;
        }
    }
}