#video{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;

    p{
        width: 700px;
    }

    h2{
        margin-bottom: 0px;
    }
    
    #buttons{
        display: flex;
        justify-content: space-around;
        width: 720px;
        margin-top: 3em;
        
        a{
            text-decoration: none;
        }

        .text, #back{
            height: 2.5em;
            width: 10em;
            background-color: #24273A;
            border-radius: .8em;
            border: solid .1em #fff;
            text-decoration: none;
            transition: all .2s ease;

            display: flex;
            align-items: center;
            justify-content: space-around;

            &:hover{
                *{
                    color: #ADD8E6;
                }
                border: solid .1em #00FFFF;
            }

            
            
        }
        #back{
            width: 6em;
        }
    }

    

    
}

a{
    color: #ADD8E6;
    transition: color .2s ease;
    text-decoration: underline;

    &:hover{
        color: #00FFFF;
    }

    &:active{
        transition: color .1s ease;
        color: blue;
    }
}

button{
    background: none;
    border: none;
}
